.my-flights-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.flights-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  transition: box-shadow 0.3s;
  width: 80%;
  max-width: 400px;
}

.flight-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.clear-button,
.back-button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.clear-button {
  background-color: #dc3545;
}

.clear-button:hover {
  background-color: #c82333;
}

.back-button {
  background-color: #007bff;
}

.back-button:hover {
  background-color: #0056b3;
}

.flights-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.flights-table th,
.flights-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.flights-table th {
  background-color: #f2f2f2;
}
